@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'SpoqaHanSansNeo-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Regular.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'EnvironmentR';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/EnvironmentR.woff2')
    format('woff2');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  font-family: SpoqaHanSansNeo-Regular;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -ms-overflow-style:none;
    scrollbar-width:none
}

	

*::-webkit-scrollbar {
	display:none 
}


code {
  font-family: SpoqaHanSansNeo-Regular, monospace;
}
